# -----------------------------------------------------------------------------
#                      .gitignore - Organized File
# -----------------------------------------------------------------------------
.DS_Store

# -----------------------------------------------------------------------------
#                       Core Python
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.sage.py

# -----------------------------------------------------------------------------
#                       Distribution
# -----------------------------------------------------------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# -----------------------------------------------------------------------------
#                       PyInstaller
# -----------------------------------------------------------------------------
*.manifest
*.spec

# -----------------------------------------------------------------------------
#                       Installer Logs
# -----------------------------------------------------------------------------
pip-log.txt
pip-delete-this-directory.txt

# -----------------------------------------------------------------------------
#                       Testing/Coverage
# -----------------------------------------------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# -----------------------------------------------------------------------------
#                       Translations
# -----------------------------------------------------------------------------
*.mo
*.pot

# -----------------------------------------------------------------------------
#                       Frameworks
# -----------------------------------------------------------------------------
# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Celery
celerybeat-schedule
celerybeat.pid

# -----------------------------------------------------------------------------
#                       Documentation
# -----------------------------------------------------------------------------
# Sphinx
docs/_build/

# mkdocs
/site

# -----------------------------------------------------------------------------
#                       PyBuilder
# -----------------------------------------------------------------------------
.pybuilder/
target/

# -----------------------------------------------------------------------------
#                       Jupyter
# -----------------------------------------------------------------------------
.ipynb_checkpoints

# -----------------------------------------------------------------------------
#                       IPython
# -----------------------------------------------------------------------------
profile_default/
ipython_config.py

# -----------------------------------------------------------------------------
#                       pyenv
# -----------------------------------------------------------------------------
# .python-version

# -----------------------------------------------------------------------------
#                       pipenv
# -----------------------------------------------------------------------------
#Pipfile.lock

# -----------------------------------------------------------------------------
#                       UV
# -----------------------------------------------------------------------------
#uv.lock

# -----------------------------------------------------------------------------
#                       poetry
# -----------------------------------------------------------------------------
poetry.lock

# -----------------------------------------------------------------------------
#                       pdm
# -----------------------------------------------------------------------------
#pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# -----------------------------------------------------------------------------
#                       PEP 582
# -----------------------------------------------------------------------------
# used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# -----------------------------------------------------------------------------
#                       Environments
# -----------------------------------------------------------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

# -----------------------------------------------------------------------------
#                       Spyder
# -----------------------------------------------------------------------------
.spyderproject
.spyproject

# -----------------------------------------------------------------------------
#                       Rope
# -----------------------------------------------------------------------------
.ropeproject

# -----------------------------------------------------------------------------
#                       mypy
# -----------------------------------------------------------------------------
.mypy_cache/
.dmypy.json
dmypy.json

# -----------------------------------------------------------------------------
#                       Pyre
# -----------------------------------------------------------------------------
.pyre/

# -----------------------------------------------------------------------------
#                       pytype
# -----------------------------------------------------------------------------
.pytype/

# -----------------------------------------------------------------------------
#                       Cython
# -----------------------------------------------------------------------------
cython_debug/

# -----------------------------------------------------------------------------
#                       PyCharm
# -----------------------------------------------------------------------------
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# -----------------------------------------------------------------------------
#                       Ruff
# -----------------------------------------------------------------------------
.ruff_cache/

# -----------------------------------------------------------------------------
#                       PyPI
# -----------------------------------------------------------------------------
.pypirc

# -----------------------------------------------------------------------------
#                       Logs/Runtime
# -----------------------------------------------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock

# -----------------------------------------------------------------------------
#                       jscoverage
# -----------------------------------------------------------------------------
# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# -----------------------------------------------------------------------------
#                       istanbul
# -----------------------------------------------------------------------------
# Coverage directory used by tools like istanbul
coverage
*.lcov

# -----------------------------------------------------------------------------
#                       nyc
# -----------------------------------------------------------------------------
.nyc_output

# -----------------------------------------------------------------------------
#                       Grunt
# -----------------------------------------------------------------------------
# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# -----------------------------------------------------------------------------
#                       Bower
# -----------------------------------------------------------------------------
# Bower dependency directory (https://bower.io/)
bower_components

# -----------------------------------------------------------------------------
#                       node-waf
# -----------------------------------------------------------------------------
.lock-wscript

# -----------------------------------------------------------------------------
#                       Binary Addons
# -----------------------------------------------------------------------------
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# -----------------------------------------------------------------------------
#                       Dependencies
# -----------------------------------------------------------------------------
node_modules/
jspm_packages/

# -----------------------------------------------------------------------------
#                       Snowpack
# -----------------------------------------------------------------------------
# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# -----------------------------------------------------------------------------
#                       TypeScript
# -----------------------------------------------------------------------------
# TypeScript cache
*.tsbuildinfo

# -----------------------------------------------------------------------------
#                       npm
# -----------------------------------------------------------------------------
# Optional npm cache directory
.npm

# -----------------------------------------------------------------------------
#                       eslint
# -----------------------------------------------------------------------------
# Optional eslint cache
.eslintcache

# -----------------------------------------------------------------------------
#                       stylelint
# -----------------------------------------------------------------------------
# Optional stylelint cache
.stylelintcache

# -----------------------------------------------------------------------------
#                       Microbundle
# -----------------------------------------------------------------------------
# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# -----------------------------------------------------------------------------
#                       REPL
# -----------------------------------------------------------------------------
# Optional REPL history
.node_repl_history

# -----------------------------------------------------------------------------
#                       npm pack
# -----------------------------------------------------------------------------
# Output of 'npm pack'
*.tgz

# -----------------------------------------------------------------------------
#                       Yarn
# -----------------------------------------------------------------------------
# Yarn Integrity file
.yarn-integrity

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# -----------------------------------------------------------------------------
#                       parcel
# -----------------------------------------------------------------------------
# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# -----------------------------------------------------------------------------
#                       Next.js
# -----------------------------------------------------------------------------
# Next.js build output
.next
out

# -----------------------------------------------------------------------------
#                       Nuxt.js
# -----------------------------------------------------------------------------
# Nuxt.js build / generate output
.nuxt
dist

# -----------------------------------------------------------------------------
#                       Gatsby
# -----------------------------------------------------------------------------
# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# -----------------------------------------------------------------------------
#                       vuepress
# -----------------------------------------------------------------------------
# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# -----------------------------------------------------------------------------
#                       vitepress
# -----------------------------------------------------------------------------
# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache

# -----------------------------------------------------------------------------
#                       Docusaurus
# -----------------------------------------------------------------------------
# Docusaurus cache and generated files
.docusaurus

# -----------------------------------------------------------------------------
#                       Serverless
# -----------------------------------------------------------------------------
# Serverless directories
.serverless/

# -----------------------------------------------------------------------------
#                       FuseBox
# -----------------------------------------------------------------------------
# FuseBox cache
.fusebox/

# -----------------------------------------------------------------------------
#                       DynamoDB
# -----------------------------------------------------------------------------
# DynamoDB Local files
.dynamodb/

# -----------------------------------------------------------------------------
#                       TernJS
# -----------------------------------------------------------------------------
# TernJS port file
.tern-port

# -----------------------------------------------------------------------------
#                       VSCode
# -----------------------------------------------------------------------------
# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode/

# -----------------------------------------------------------------------------
#                       IntelliJ
# -----------------------------------------------------------------------------
# Stores IntelliJ setup
.idea

# -----------------------------------------------------------------------------
#                       Other
# -----------------------------------------------------------------------------
# Specify the folder to ignore
.roo
memory-bank/
data/
sequentialthinking-mcp/
library.md
ShadCN-context.md

# -----------------------------------------------------------------------------
#                       Claude Task Master
# -----------------------------------------------------------------------------
# Specific to Claude Task Master
dev-debug.log
tasks.json
tasks/
scripts/
.taskmasterconfig
.windsurfrules